name: Tests Workflow

on:
  workflow_call:
    inputs:
      python-version:
        required: false
        type: string
        default: "3.12"

jobs:
  test:
    name: Test package
    runs-on: ubuntu-latest

    services: { }

    steps:
      - name: Checkout (for tests)
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ inputs.python-version }}

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/

      - name: Install test tools
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pytest pytest-asyncio

      - name: Install built wheel
        run: |
          python -m pip install dist/*.whl

      - name: Install extra deps
        run: |
          python -m pip install "scitrera-ext-cachetools[dev]"

      - name: Run tests
        env: { }
        run: |
          pytest -q
